<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.robertburek"/>
    <context:property-placeholder location="classpath:knightRepository.properties"/>

    <import resource="classpath:config/knightRepository-config.xml"/>

    <bean id="quest" class="pl.robertburek.kursspring.domain.Quest" scope="prototype">
        <constructor-arg index="0" value="Uratuj wybraną KSIĘŻNICZKĘ"/>
    </bean>

    <bean id="robert" class="pl.robertburek.kursspring.domain.Knight" primary="true" scope="prototype">
        <constructor-arg index="0" value="robert"/>
        <constructor-arg index="1" value="45"/>
        <property name="quest" ref="quest"/>
    </bean>

    <bean id="grzegorz" class="pl.robertburek.kursspring.domain.Knight" scope="prototype">
        <constructor-arg index="0" value="Grzegorz"/>
        <constructor-arg index="1" value="44"/>
        <property name="quest" ref="quest"/>
    </bean>

    <task:scheduler id="myScheduler" pool-size="10"/>
    <task:scheduled-tasks>
        <task:scheduled ref="questRFepository" method="createRandomQuest" fixed-rate="1000"/>
    </task:scheduled-tasks>


</beans>