<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Galeria rycerzy</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <p th:text="${powitanie}"/>
    <h1>Rycerze</h1>
</div>
<table class="table">
    <thead>
    <tr>
        <td>Imie rycerza</td>
        <td>Wiek</td>
    </tr>
    </thead>
    <tbody th:each="knight: ${knights}">
    <tr>
        <td th:text="${knight.name}"></td>
        <td th:text="${knight.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
